{% set PROJECT = env["project"] %}

resources:
  - name: serverless-vpc
    type: container.v1.cluster
    properties:
      zone: us-central1-a
      cluster:
        loggingService: logging.googleapis.com
        monitoringService: monitoring.googleapis.com
        network: projects/{{ PROJECT }}/global/networks/default
        addonsConfig:
          kubernetesDashboard:
            disabled: true
        subnetwork: projects/{{ PROJECT }}/regions/us-central1/subnetworks/default
        nodePools:
          - name: serverless-vpc-pool
            version: 1.11.8-gke.6
            config:
              machineType: g1-small
              diskSizeGb: 10
              oauthScopes:
                - https://www.googleapis.com/auth/devstorage.read_only
                - https://www.googleapis.com/auth/logging.write
                - https://www.googleapis.com/auth/monitoring
                - https://www.googleapis.com/auth/servicecontrol
                - https://www.googleapis.com/auth/service.management.readonly
                - https://www.googleapis.com/auth/trace.append
              imageType: COS
              diskType: pd-standard
            initialNodeCount: 1
            management:
              autoUpgrade: true
              autoRepair: true
        ipAllocationPolicy:
          useIpAliases: true
        initialClusterVersion: 1.11.8-gke.6
        location: us-central1-a
